@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	margin: 0;
	padding: 0;
	font: inherit;
	box-sizing: border-box;
  
}

body{
 --tw-bg-opacity: 1;
 background-color: rgb(248 250 252 / var(--tw-bg-opacity));
}

.App {
  justify-content: center;
  align-items: center;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif !important;
}

p {
  font-family: "Inter", sans-serif !important;
}
a {
  font-family: "Inter", sans-serif !important;
}

.bgColor {
  background-color: white;
}

.btnColor {
  background-color: rgb(79 70 229)
}

a {
  color: rgb(79 70 229)
}

a:hover {
  color:  rgb(99 102 241);
}

.ql-container {
  min-height: 10rem;
  height: 100%;
  /* overflow: scroll; */
  
}
.hero {
  /* position: relative; */
  /* height: 100vh; */
  /* width: auto; */
  background-image: url('/public/images/HeroImg2.png');
  background-position: center;
  background-size: cover;
  /* background-size: cover; */
  position: relative;
  height: 100vh;
  width: 100vw;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
